<div id="social_media">
    <ul>
        <li><a href="#" class="facebook"><i class="fa fa-facebook fa-lg"></i></a></li>
        <li><a href="#" class="twitter"><i class="fa fa-twitter fa-lg"></i></a></li>
        <li><a href="#" class="google_plus"><i class="fa fa-google-plus fa-lg"></i></a></li>
        <li><a href="#" class="linkedin"><i class="fa fa-linkedin fa-lg"></i></a></li>
        <li><a href="#" class="dribbble"><i class="fa fa-dribbble fa-lg"></i></a></li>
        <li><a href="#" class="instagram"><i class="fa fa-instagram fa-lg"></i></a></li>
        <li><a href="#" class="youtube"><i class="fa fa-youtube-play fa-lg"></i></a></li>
        <li><a href="#" class="pinterest"><i class="fa fa-pinterest fa-lg"></i></a></li>
    </ul>
</div>
